/* Reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
 cursor: pointer;
}

.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--body-text-color);
  background-color: var(--white-color);
}

:root {
  --primary-brand-color: #4D5AE5;
  --dark-color: #2E2F42;
  --success-color: #31D0AA;
  --body-text-color: #434455;
  --subtle-text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-color: #F4F4FD;
  --white-color: #FFFFFF;
  --blue-button: #404BBF;
  --modal: #FCFCFC;
  --trans-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
} */

/* .section {
    padding-top: 120px;
    padding-bottom: 120px;
    
} */

/*  */
/* =============================== ROOT ============================= */
/* +++++++++++++++ Mobail Container +++++++++++++++ */
.gadget-activ:hover, 
.gadget-activ:active {
    color: var(--primary-brand-color);
}

/* ================= Контейнер =============== */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* +++++++++++++++ Mobail +++++++++++++++ */

/* @media screen and (max-width: 480px) {
    .container {
        width: 428px;
        margin-right: auto;
        margin-left: auto;
    }  
} */
/* +++++++++++++++ Mobail +++++++++++++++ */













/* ============== menu-btn =============== */

    .pege-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .logo-header {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--dark-color);
    letter-spacing: 0.03em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .pege-header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .logo-header-accent {
    color: #4D5AE5;
    }
    
    .menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-item:focus, .menu-item:hover, .menu-item:active {
    color: var(--primary-brand-color);
    }

    .contact-email:hover, .contact-email:focus, .contact-email:active,
    .contact-phone:hover, .contact-phone:focus, .contact-phone:active {
        color: var(--primary-brand-color);
    }
    
    /* @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
        .hero-style {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),  rgb(46, 47, 66, 0.7)),
                url(../images_set/desktop-people-office@2x.jpg);
        }
    } */

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
        .hero-style {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),  rgb(46, 47, 66, 0.7)),
                url(../images_set/desktop-people-office@2x.jpg);
        }
    }




    
    /* ========= Меню позіціювання сторынки ========= */
    
    .hero {
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: var(--primary-brand-color);
    }

    .button {
    padding: 16px 32px;
    border-color: transparent;
    font-family: inherit;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    color: var(--white-color);
    background: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


/* =============== Android =============== */

/* +++++++++++++++ Mobail +++++++++++++++ */
/* від 0px до 767px */

@media screen and (max-width: 767px) {
    
    .container {
        max-width: 428px;
    }

    .page-nav {
    display: none;
    }

    .contacts {
        display: none;
    }


    .pege-header {
    padding: 24px 16px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .btn-mobail-menu-open {
    background-color: transparent;
    padding: 0;
    border: none;
    line-height: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    .mobaile-menu {
    position: fixed;    
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    pointer-events: auto;
    visibility: hidden;
    background: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .mobaile-menu-container {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 80px 51px 40px 40px;
        height: 100%;
    
    }

    .mobaile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition: opacity 300ms linear, visibility 300ms linear;
    }

    .mobaile-menu-btn-close {
    position: absolute;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    border-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;

    top: 25px;
    right: 20px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    border-color: transparent;
    }

    .mobail-navigation-item:not(:last-child) {
    margin-bottom: 40px;
    }

    /* .mobail-navigation-item:last-child {
    margin-bottom: 284px;
    } */

    .mobaile-contact-user-list {
    margin-bottom: 40px;
    }

    .mobaile-contact-phone {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--primary-brand-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .mobaile-contact-email-linc {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--body-text-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .mobail-navigation-linc {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    text-transform: capitalize;
    color: var(--dark-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }  

    .mobail-navigation-linc:active {
    color: var(--blue-button);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .mobaile-contact-wrapper {
        margin-top: auto;
    }

    .mobaile-social-network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    }

    .mobaile-social-network-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primary-brand-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .mobaile-social-network-icon {
    fill: var(--light-color);
    }

    .hero {
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: var(--primary-brand-color);
    }
    
    .hero-style {
    width: 428px;
    padding: 112px 55px 112px 55px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),  rgb(46, 47, 66, 0.7)),
    url(../images_set/desktop-people-office@2x.jpg);
    }
    
    .hero-title {
    
    text-align: center;

    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    text-transform: capitalize;
    color: var(--white-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .button {
    margin-top: 72px;

    padding: 16px 32px;
    border-color: transparent;
    font-family: inherit;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    color: var(--white-color);
    background: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .list-advantage > .advantage-icon {
        display: none;
    }

    .section-advantage {
    padding-top: 96px;
    padding-bottom: 96px;
    }
    
    .list-advantage {
    display: block;
    padding-left: auto;
    
    

}

/* +++++++++++++++ Mobail +++++++++++++++ */

/* +++++++++++++++ Tablet +++++++++++++++ */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .page-nav {
        display: flex;
        align-items: center;
    }

    .nav-menu {
        display: flex;
        align-items: center;
    }

    .menu-list:not(:last-child) {
    margin-right: 40px;
    }

    .menu-list {
    position: relative;
    }
/* === Меню позіціювання сторынки === */
    .menu-activ::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;

    background-color: var(--primary-brand-color);
    border-radius: 2px;

    bottom: 0;
    left: 0;
    }
/* === Меню позіціювання сторынки === */
    .contacts {
        display: block;
    }

    .contact-list {
        position: relative;
    }

    .contact-list:first-child {
        margin-bottom: 4px;
    }

    .contact-email {
        padding-top: 16px;
    }
    
    .contact-phone {
        padding-bottom: 16px;
    }

    .contact-email, .contact-phone {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--body-text-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: color var(--trans-dur-and-func)
    }

    .menu-item {
        padding-top: 16px;
    }

    .mobaile-menu {
        display: none;
    }

    .btn-mobail-menu-open {
        display: none;
    }

    .hero-style  {
    padding: 112px 137px 204px 137px;
    margin-right: auto;
    margin-left: auto;
    background-position: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),  rgb(46, 47, 66, 0.7)), 
    url(../images_set/tablet-people-office.jpg);
    background-size: cover;
    }

    .button {
        margin-top: 40px;
    }
    
    .hero-title {
    text-align: center;
    width: 492px;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
    }



}

@media screen and (max-width:768px) {
    .ontainer {
        max-width: 428px;
    }
}

/* +++++++++++++++ Tablet +++++++++++++++ */

/* +++++++++++++++ Desktop +++++++++++++++ */

@media screen and (min-width: 1200px) {

    .container {
    max-width: 1158px;
    }

    .menu-item-box {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    }

    .contact {
    display: flex;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-left: auto;
    }

    .contacts {
        display: flex;
    }
    
    .contact-list:first-child {
        margin-right: 40px;
        margin-bottom: 0;
    }

    .contact-email, .contact-phone {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 0;
    }

    .contact-phone {
        padding-bottom: 0;
    }
    
    .hero-title {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-right: auto;
    margin-left: auto;

    color: var(--white-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .button {
        margin-top: 48px;
    }

    .hero-style  {
    max-width: 1600px;
    padding-top: 188px;
    padding-bottom: 292px;
    margin-right: auto;
    margin-left: auto;
    background-position: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),  rgb(46, 47, 66, 0.7)), 
    url(../images_set/desktop-people-office.jpg);
    background-size: cover;
    }

    



    



}


/* .menu-item-box {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
} */

/* +++++++++++++++ Desktop +++++++++++++++ */


@media screen and (max-width: 1199px) {
    .menu-item.menu-item-box {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}
}







/* +++++++++++++++ Desktop +++++++++++++++ */

/* +++++++++++++++ Mobail Container +++++++++++++++ */

/* Секція-Герой */
/* .hero-style  {
    position: relative;
    
    padding-top: 192px;
    padding-bottom: 192px;
    margin-right: auto;
    margin-left: auto;
    background-position: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),  rgb(46, 47, 66, 0.7)), 
    url(../images/hero/people-office.jpg);
    background-size: cover;
    width: 1440px;
} */

/* .hero-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    
} */

/* .hero-title {
    text-align: start;
    width: 492px;
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
} */

/* Кнопка */
/* .button {
    padding: 16px 32px;
    border-color: transparent;
    font-family: inherit;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    border-radius: 4px;
    color: var(--white-color);
    background: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.button:hover,
.button:focus {
    background-color: var(--blue-button);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}

/* Прихований заголовок*/

.visualli-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: 1px;
}

.two-header {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-transform: capitalize;
color: var(--dark-color);
}

/* Секція-переваги */

.section-advantage {
    background-color: var(--white-color);
    padding-bottom: 0;
}

.advantage-box {
    display: flex;
    align-items: center;
}
    
.advantage {
    display: flex;
    flex-wrap: wrap;
}

.advantage-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}
.advantage-title {

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-color);
} 

.list-advantage {
    width: 264px;
}

.list-advantage:not(:last-child) {
    margin-right: 24px;
}

.advantage-text {
    margin-top: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--body-text-color);
}

/* <!--Приклади робіт--> */

.work-examples {
    text-align: center;
    background-color: var(--white-color);
}

.work-examples-list {
    display: flex;
    margin-top: 72px;

}

.work-linc:not(:last-child) {
    margin-right: 24px;
}

/* Команда */
.block-team {
    text-align: center;
    background-color: var(--light-color);
}

.team-title {
    display: flex;
    margin-top: 72px;
    flex-wrap: wrap;
}

.team-title > li {
    background: var(--white-color);
}

.team-list:nth-child(4n) {
    margin-right: 0;
}

.team-list {
    
    flex-basis: calc((100% - 96px) / 4);
    gap: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-list:not(:last-child) {
    margin-right: 24px;
}

.team-card {
    text-align: center;

    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.profession {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-top: 8px;
color: var(--body-text-color);
}

.social-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 12px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--blue-button);
    
}

.social-list-icon {
    fill: var(--light-color);
}

/* Портфоліо! */

.portfolio {
    padding-top: 96px;
}

.portfolio-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}
/* Оверлей */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 164px;
    padding-right: 32px;
    padding-left: 32px;
    overflow-y: scroll;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.portfolio-body:hover .overlay,
.portfolio-linc:focus .overlay {
    transform: translate(0, 0);
}

/* Оверлей */
.portfolio-body {
    flex-basis: calc((100% - 48px) / 3);
    background-color: var(--white-color);
}

.portfolio-body:nth-child(3n) {
    margin-right: 0;
}

.portfolio-linc {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-linc:hover,
.portfolio-linc:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.portfolio-card {
    padding: 32px 16px 32px 16px;
    border-right: 0.5px solid var(--white-color);
    border-bottom: 0.5px solid var(--white-color);
    border-left: 0.5px solid var(--white-color);
}

.portfolio-title {
    justify-content: center;
    align-items: flex-start;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.portfolio-text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}

/* Кнопки фільтрів портфоліо */

.button-body {
    display: flex;
    margin-bottom: 72px;
}

.button-body > li:not(:last-child) {
    margin-right: 20px;
}

.button-filter {
    
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    color: var(--primary-brand-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.04em;

    background: var(--light-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms  cubic-bezier(0.4, 0, 0.2, 1), border-color cubic-bezier(0.4, 0, 0.2, 1);
}               

.button-filter:hover,
.button-filter:focus {
    color: var(--white-color);
    background-color: #4D5AE5;
    border-color: transparent;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 72px;
}

.customers {
    background-color: var(--white-color);
}

.customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.customers-linc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    color: var(--subtle-text-color); 
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.customers-icon {
    fill: currentColor;
}


.customers-linc:hover, 
.customers-linc:focus { 
    color: var(--primary-brand-color);
    border: 1px solid var(--primary-brand-color); 
}

/* ============ Футер =========== */

.footer {
    display: flex;
    background: var(--dark-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Логотип */
.logo-footer {
    margin-bottom: 16px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
}

.pege-footer-container {
    margin-right: 120px;
}

.footer-text {
    max-width: 264px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 16px;
    color: var(--accent-color);
}

.logo-footer-accent {
    color: var(--primary-brand-color);
}

/* Social media footer*/

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.social-media-box {
    margin-right: 80px;
}

.social-media-title {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    font-size: 16px;
}

.social-media-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--body-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
background-color: var(--success-color);
}

/* Вікно регістрації */
/* .subscribe-box {
} */
.email-input {
    display: block;
    justify-content: flex-end;

}

.contact-form {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.contact-form-input {
    width: 100%;
    height: 40px;

    font-weight: 400;
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);

}

/* ======================== */

.footer-subscribe-img {
    margin-left: 16px;
    width: 24px;
    height: 20px;
    fill: var(--white-color);
}

.footer-text-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-size: 16px;
}

.footer-subscribe-input {
    display: block;
    height: 40px;
    width: 264px;
    margin-right: 24px;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.footer-subscribe-input::placeholder {
    text-transform: capitalize;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--dark-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input:focus {
    outline: none;
    border: 1px solid var(--primary-brand-color);
}

.footer-form-subscribe {
    display: flex;
    justify-content: center;
}

.footer-subscribe-btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    color: var(--white-color);
    text-transform: capitalize;
}

.footer-subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    text-align: left;
    background: var(--primary-brand-color);
    border-radius: 4px;
    width: 165px;
    height: 40px;
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: var(--blue-button);
}

/* ============== Футер ==============*/

/* =========== Модель вікна ==========*/

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   
.modal {
    position: absolute;
    width: 408px;
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;

    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-input {
    display: flex;
    flex-direction: column;
}

.modal-input-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 14px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #2E2F42;
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-uzer {
    display: block;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    margin-bottom: 4px;

    color: #8E8F99;
}


.modal-form-input {
    width: 100%;
    height: 40px;
    padding: 11px 38px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--primary-brand-color);
}   

.modal-form-input:focus + .icon-form {
    fill: #4D5AE5;
}

.icon-form-box {
    display: block;
    position: relative;
}

.icon-form {
    width: 18px;
    height: 24px;
    
    position: absolute;
    top: 50%;
    left: 16px;
    fill: var(--dark-color);
    
    transform: translateY(-50%);
    transition: transition fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-massedge {
    margin-bottom: 16px;
}

.contact-form-massedge {
    display: block;

    width: 100%;
    height: 138px;
    resize: none;
    outline: none;

    padding: 8px 16px;
    color: var(--dark-color);
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-massedge::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;

    color: rgba(117, 117, 117, 0.5);
}

.contact-form-massedge:focus {
    outline: none;
    border-color: #4D5AE5;
}

.modal-form-check-desc::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1.25px solid var(--dark-color);
    border-radius: 2px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-check-desc::before {
    background-color: var(--blue-button);
    border: 1.25px solid var(--blue-button);
    background-image: url(../images/Vector/Clikc.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.modal-form-check:focus + .modal-form-check-desc::before {
    border-color: var(--primary-brand-color);
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #757575;

    margin-top: 0;
    margin-bottom: 24px;
    transition: background-color var(--trans-dur-and-func),
    border var(--trans-dur-and-func);

}

.modal-form-submit {
    width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    align-self: center;
    padding: 16px 32px;
    border-radius: 4px;
    border: transparent;

    letter-spacing: 0.04em;
    color: var(--white-color);
    background: var(--primary-brand-color);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    background: var(--blue-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-button {
    width: 169px;
    height: 56px;
    color: #FFFFFF;
    border-radius: 4px;
    background: #4D5AE5;
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border: var(--blue-button);
    background: var(--blue-button);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-close-btn-icon {
    height: 8px;
    width: 8px;
    padding: 0;

    fill: transition 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--white-color);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}