/* Reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
 cursor: pointer;
}

.visualli-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--primary-font);
  color: var(--body-text-color);
  background-color: var(--white-color);
}

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* COLORS */
  --primary-brand-color: #4D5AE5;
  --dark-color: #2E2F42;
  --success-color: #31D0AA;
  --body-text-color: #434455;
  --subtle-text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-color: #F4F4FD;
  --white-color: #FFFFFF;
  --blue-button: #404BBF;
  --modal: #FCFCFC;
  --trans-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =============================== ROOT ============================= */
/* +++++++++++++++ Mobail Container +++++++++++++++ */
/* .gadget-activ:hover, 
.gadget-activ:active {
    color: var(--primary-brand-color);
} */

/* ================= Контейнер =============== */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Стилі-Хедер! */

.page-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.logo-black {
  color: var(--dark-color);
}

.logo-white {
  color: var(--light-color);
}

.mobaile-menu-btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  border-color: transparent;
  padding: 0;
  line-height: 0;

  top: 40px;
  right: 40px;
  background: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--trans-dur-and-func);
}

.mobaile-menu-container .mobaile-menu-btn-close {
  top: 40px;
  right: 40px;
}

.mobaile-menu-btn-close:hover, 
.mobaile-menu-btn-close:focus,
.mobaile-menu-btn-close:active {
  outline: none;
  fill: #FFFFFF;
  background-color: var(--blue-button);
}

.mobaile-menu {
  position: fixed;    
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: auto;
  visibility: hidden;
  background: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 
  0px 4px 4px rgba(0, 0, 0, 0.25), 
  0px 2px 1px rgba(46, 47, 66, 0.08);
}

.mobaile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: opacity var(--trans-dur-and-func), visibility var(--trans-dur-and-func);
}

.btn-mobail-menu-open {
  background-color: transparent;
  padding: 0;
  border: none;
  line-height: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

a.act {
  color: var(--blue-button);
}

.mobaile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 80px 51px 40px 40px;
  height: 100%;
}

.mobaile-menu-btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  border-color: transparent;
  padding: 0;
  line-height: 0;

  top: 40px;
  right: 40px;
  background: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color var(--trans-dur-and-func);
}

.mobail-navigation-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobaile-contact-user-list {
  margin-bottom: 40px;
}

.mobaile-contact-phone {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--primary-brand-color);
}

.mobaile-contact-email-linc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--body-text-color);
}

.mobail-navigation-linc {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  text-transform: capitalize;
  color: var(--dark-color);
}  

.mobail-navigation-linc:active {
  color: var(--blue-button);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mobaile-contact-wrapper {
  margin-top: auto;
}

.mobaile-social-network {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.mobaile-social-network-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--primary-brand-color);
}

.mobaile-social-network-icon {
  fill: var(--light-color);
}

.hero {
  display: block;
  max-width: 428px;
  margin: 0 auto;
  background-color: var(--navy-blue-color);
  text-align: center;
}

.hero-style {
  width: 100%;
  padding: 112px 55px 112px 55px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),  rgb(46, 47, 66, 0.7)),
  url(../images_set/mobile-people-office.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero-style {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),  rgb(46, 47, 66, 0.7)),
    url(../images_set/desktop-people-office@2x.jpg);
    }
} 

.hero-title {
  display: block;
  width: 318px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  text-transform: capitalize;
  color: var(--white-color);
}

  .button-hero {
  margin-top: 72px;
  padding: 16px 32px;
  border-color: transparent;
  font-family: inherit;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  color: var(--white-color);
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--trans-dur-and-func), 
  box-shadow var(--trans-dur-and-func), 
  border-radius var(--trans-dur-and-func);
}

.button-hero:hover,
.button-hero:focus,
.button-hero:active {
  background-color: var(--blue-button);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--trans-dur-and-func),
  visibility var(--trans-dur-and-func);
}

/* ================== Модель вікна ===================*/

.modal {
  width: 100%;
  position: absolute;
  background: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.modal-input {
    display: flex;
    flex-direction: column;
}

.modal-input-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 14px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #2E2F42;
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-uzer {
    display: block;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    margin-bottom: 4px;

    color: #8E8F99;
}


.modal-form-input {
    width: 100%;
    height: 40px;
    padding: 11px 38px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--trans-dur-and-func);
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--primary-brand-color);
}   

.modal-form-input:focus + .icon-form {
    fill: #4D5AE5;
}

.icon-form-box {
    display: block;
    position: relative;
}

.icon-form {
    width: 18px;
    height: 24px;
    
    position: absolute;
    top: 50%;
    left: 16px;
    fill: var(--dark-color);
    
    transform: translateY(-50%);
    transition: transition fill var(--trans-dur-and-func);
}

.modal-form-massedge {
    margin-bottom: 16px;
}

.contact-form-massedge {
    display: block;

    width: 100%;
    height: 138px;
    resize: none;
    outline: none;

    padding: 8px 16px;
    color: var(--dark-color);
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--trans-dur-and-func);
}

.contact-form-massedge::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;

    color: rgba(117, 117, 117, 0.5);
}

.contact-form-massedge:focus {
    outline: none;
    border-color: #4D5AE5;
}

.modal-form-check-desc::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1.25px solid var(--dark-color);
    border-radius: 2px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color var(--trans-dur-and-func), 
    background-image var(--trans-dur-and-func);
}

.modal-form-check:checked + .modal-form-check-desc::before {
    background-color: var(--blue-button);
    border: 1.25px solid var(--blue-button);
    background-image: url(../images/Vector/Clikc.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.modal-form-check:focus + .modal-form-check-desc::before {
    border-color: var(--primary-brand-color);
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #757575;

    margin-top: 0;
    margin-bottom: 24px;
    transition: background-color var(--trans-dur-and-func),
    border var(--trans-dur-and-func);
}

.modal-form-submit {
    width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    align-self: center;
    padding: 16px 32px;
    border-radius: 4px;
    border: transparent;

    letter-spacing: 0.04em;
    color: var(--white-color);
    background: var(--primary-brand-color);
    transition: background var(--trans-dur-and-func), 
    box-shadow var(--trans-dur-and-func);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    background: var(--blue-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-button {
    width: 169px;
    height: 56px;
    color: #FFFFFF;
    border-radius: 4px;
    background: #4D5AE5;
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border var(--trans-dur-and-func),
    background var(--trans-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:active,
.modal-close-btn:focus {
  border: var(--blue-button);
  background: var(--blue-button);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-close-btn-icon {
  height: 8px;
  width: 8px;
  padding: 0;

  fill: transition var(--trans-dur-and-func);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon,
.modal-close-btn:active .modal-close-btn-icon {
  fill: var(--white-color);
}

/* ================== Модель вікна ===================*/
/* =============== Приклади інструментів ================ */
.section-advantage {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantage-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}

.advantage-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/* =============== Наша_команда =============== */

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--dark-color);
}

.block-team {
  background-color: var(--light-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title > li {
  background: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
  0px 1px 1px rgba(46, 47, 66, 0.16), 
  0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 
  0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.social-list {
  display: flex;
  justify-content: center;

  gap: 24px;
  margin-top: 12px;
  align-items: center;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color var(--trans-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus,
.social-list-link:active {
  background-color: var(--blue-button);
}

.social-list-icon {
  width: 16px;
  height: 16px;
  fill: var(--light-color);
}

.two-header {
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--dark-color);
  
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
  color: var(--body-text-color);
} 

/* =============== Наша_команда =============== */
/* =============== Покупатель =============== */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  align-items: center;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
  flex-wrap: wrap;
} 

.customers-linc {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--subtle-text-color);
  color: var(--subtle-text-color);
  height: 100%;
  width: 100%;
  transition: border var(--trans-dur-and-func), 
  color var(--trans-dur-and-func);
}   

.customers-linc:hover, 
.customers-linc:focus,
.customers-linc:active { 
  color: var(--primary-brand-color);
  border: 1px solid var(--primary-brand-color); 
}

.customers-icon {
  fill: currentColor;
}
/* =============== Покупатель =============== */

/* =============== Футер =============== */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--dark-color);
}

.footer-logo .logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-text {
  max-width: 268px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  color: var(--accent-color);
}

.social-media-item {
  height: 40px;
  width: 40px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--body-text-color);
  transition: background-color var(--trans-dur-and-func);
}

.social-media-link:hover,
.social-media-link:focus,
.social-media-link:active {
  background-color: var(--success-color);
}

.social-media-icon {
  fill: var(--accent-color);
}

.footer-text-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  font-size: 16px;
}

.social-media-title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  font-size: 16px;
}

.footer-subscribe-input {
  display: block;
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: border var(--trans-dur-and-func);
}

.footer-subscribe-input:focus {
  border: 1px solid var(--primary-brand-color);
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  text-align: left;
  background: var(--primary-brand-color);
  border-radius: 4px;
  width: 168px;
  height: 40px;
  border-color: transparent;
  transition: background-color var(--trans-dur-and-func);
  margin-left: auto;
  margin-right: auto;
}

.footer-subscribe-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-transform: capitalize;
}

.footer-subscribe-img {
  margin-left: 16px;
  width: 24px;
  height: 20px;
  fill: var(--white-color);
}

/* =============== Футер =============== */
/* +++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++ Мобилка +++++++++++++++ */
@media screen and (max-width: 385px) {
  .mobaile-contact-phone {
  font-size: 22px;
  font-weight: 700;
  }

  .mobaile-social-network {
  column-gap: 8%;
  }
}

@media screen and (max-width: 767px) {
  .container {
  max-width: 428px;
  }

  .page-nav {
  display: none;
  }
    
  .contact-list {
  display: none;
  }

  .page-header {
  padding: 24px 16px;
  border-bottom-color: var(--accent-color);
  }

  .mobaile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 80px;
  padding-right: 51px;
  padding-bottom: 40px;
  padding-left: 40px
  }

  .mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  margin-left: auto;
  }

  .hero-style {
  padding: 112px 55px;
  }

  .hero-title {
  font-weight: 500;
  font-size: 36px;
  max-width: 318px;
  }

  .modal {
  max-width: 392px;
  }

/* ============== Advantage ============== */
  .advantage .advantage-icon {
  display: none;
  }

  .advantage {
  display: flex;
  column-gap: 24px;
  row-gap: 72px;
  flex-wrap: wrap;
  }

  .advantage-title {
  text-align: center;
  }

  .list-advantage {
  min-width: 396px;
  }
/* ============== Advantage ============== */
.work-examples {
  display: none;
}
/* ============== Наша_команда ============== */
.team-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
}

/* ============== Наша_команда ============== */
.customers-item {
  height: 88px;
  width: 190px;
  flex-basis: calc((100% - 16px) / 2);
}    
/* ============== Футер ============== */
.footer-logo .logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.logo-footer {
  text-align: center;
}

.logo-white {
  color: var(--white-color);
}

.page-footer-container {
  text-align: center;
}

.page-footer-container p {
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}

.social-media-box {
  margin-top: 72px;
}

.social-media-title {
  text-align: center;
  margin-top: 72px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.footer-social .footer-text {
  text-align: center;
}

.footer-subscribe {
  margin-top: 72px;
}

.footer-subscribe-btn {
  margin-top: 16px;

}

.footer-text-subscribe {
  text-align: center;
}

}
/* ============== Футер ============== */
/* ++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++ Планшет +++++++++++++++ */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .mobile-menu-open {
    display: none;
  }

  .mobaile-menu {
    display: none;
  }

  .nav-menu {
    display: flex;
    align-items: center;
  }

  .nav-menu .menu-list:not(:last-child) {
  margin-right: 40px;
  }

  .menu-list {
    position: relative;
  }

  .menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    transition: color var(--trans-dur-and-func);
  }

  .menu-item:focus, .menu-item:hover, .menu-item:active {
    color: var(--primary-brand-color);
  }

  /* === Меню позіціювання сторынки === */
  .menu-activ::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;

    background-color: var(--primary-brand-color);
    border-radius: 2px;

    bottom: 0;
    left: 0;
  }

  .menu-item-box {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  /* === Меню позіціювання сторынки === */
  .contact-list {
    position: relative;

  }

  .contact-list:first-child {
    margin-bottom: 4px;
  }

  .contact-email {
    padding-top: 16px;
  }
    
  .contact-phone {
    padding-bottom: 16px;
  }

  .contact-email, .contact-phone {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--body-text-color);
    transition: color var(--trans-dur-and-func)
  }

  .contact-email:hover, .contact-email:focus, .contact-email:active,
  .contact-phone:hover, .contact-phone:focus, .contact-phone:active {
    color: var(--primary-brand-color);
  }
/* =============== Герой =============== */
  .hero {
    max-width: 768px;
  }

  .hero-style {
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgb(46, 47, 66, 0.7)), url(../images/tablet-people-office.jpg);
  }

  .hero-title {
    width: 494px;
    font-size: 56px;
    line-height: 1.07;
  }
 /* =============== Герой =============== */
 /* =============== Переваги =============== */
  .advantage {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding: 0;
    text-align: start;
  }
  
  .advantage-icon {
    display: none;
  }

  .list-advantage {
    flex-basis: calc((100% - 24px) / 2);
  }

  .work-examples {
    display: none;
  }
 /* =============== Переваги =============== */
 /* =============== Наша_команда =============== */

  .team-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-list {
    flex-basis: calc((100% - 48px) / 3);
    padding: 0;
    max-width: 264px;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    height: 88px;
    max-width: 168px;
    flex-basis: calc((100% - 48px) / 3);
  }

 /* =============== Наша_команда =============== */
 /* =============== Футер =============== */

  .footer-box {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    width: 586px;
  }

  .page-footer-container {
    margin-right: 24px;
  }

  .footer-subscribe {
    margin-top: 72px;
  }

  .footer-text {
    max-width: 264px;
  }

  .social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }

  .footer-form-subscribe {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .footer-subscribe-input {
    width: 264px;
    margin-right: 24px;
  }
  /* ============== Модалка =============== */
  .modal {
    max-width: 408px;
  }
  /* ============== Модалка =============== */
}
/* +++++++++++++++ Планшет +++++++++++++++ */

/* +++++++++++++++ Desktop +++++++++++++++ */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .logo {
    margin-right: 77px;
  }
  
  .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .contact-list:first-child {
    margin-bottom: 0px;
  }

  .contact-email {
    margin-right: 40px;
  }

  .contact-email, .contact-phone {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .contact-linc-box {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .hero {
    max-width: 1440px;
  }

  .hero-style {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgb(46, 47, 66, 0.7)), url(../images/desktop-people-office.jpg);
  }
 /* =============== Переваги =============== */
  .section-advantage {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantage {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .block-team {
    background-color: var(--light-color);
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantage-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 8px;
  }

  .list-advantage {
    flex-basis: calc((100% - (3 * 24px)) / 4);
  }
  
  .advantage-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: var(--light-color);
    border-radius: 4px
  }

  .advantage-text {
    font-weight: 400;
  }

  .work-examples {
    display: block;
  }

  .work-examples {
    padding-bottom: 120px;
  }

  .work-examples-list {
    display: flex;
    align-items: center;
    column-gap: 24px;
    flex-wrap: wrap;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-box {
    flex-wrap: nowrap;
    column-gap: 0;
    row-gap: 0;
    width: 100%;
  }

  .page-footer-container {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .social-media-box {
    margin-right: 80px;
  }

  }
/* +++++++++++++++ Desktop +++++++++++++++ */
/* =========================================== */
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-style {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mobile-people-office@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 767px),
  screen and (min-resolution: 192dpi) and (min-width: 767px),
  screen and (min-resolution: 2dppx) and (min-width: 767px) {
  .hero-style {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet-people-office@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-style {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desktop-people-office@2x.jpg");
  }
}



/* ==================================================================== */
/* Портфоліо! */

.portfolio {
    padding-top: 96px;
}

.portfolio-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}
/* Оверлей */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 164px;
    padding-right: 32px;
    padding-left: 32px;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.portfolio-body:hover .overlay,
.portfolio-linc:focus .overlay {
    transform: translate(0, 0);
}

/* Оверлей */
.portfolio-body {
    flex-basis: calc((100% - 48px) / 3);
    background-color: var(--white-color);
}

.portfolio-body:nth-child(3n) {
    margin-right: 0;
}

.portfolio-linc {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-linc:hover,
.portfolio-linc:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.portfolio-card {
    padding: 32px 16px 32px 16px;
    border-right: 0.5px solid var(--white-color);
    border-bottom: 0.5px solid var(--white-color);
    border-left: 0.5px solid var(--white-color);
}

.portfolio-title {
    justify-content: center;
    align-items: flex-start;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.portfolio-text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}

/* Кнопки фільтрів портфоліо */

.button-body {
    display: flex;
    margin-bottom: 72px;
}

.button-body > li:not(:last-child) {
    margin-right: 20px;
}

.button-filter {
    
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    color: var(--primary-brand-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.04em;

    background: var(--light-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms  cubic-bezier(0.4, 0, 0.2, 1), border-color cubic-bezier(0.4, 0, 0.2, 1);
}               

.button-filter:hover,
.button-filter:focus {
    color: var(--white-color);
    background-color: #4D5AE5;
    border-color: transparent;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ============ Футер =========== */

.contact-form {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.contact-form-input {
    width: 100%;
    height: 40px;

    font-weight: 400;
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);

}

/* ======================== */

/* ============== Футер ==============*/

